<nav
  class="navbar navbar-default"
  style="
    margin: 0px;
    background-color: rgb(231, 236, 242);
    border-radius: 0;
  "
>
  <div class="container-fluid">
    <!-- Responsive hamburger menu -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed"
      >
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <!-- Needs fixing cos atm it redirects to recipes even when non-authenticated -->
      <a
        routerLink="/recipes"
        class="navbar-brand"
        style="font-size: 20px; font-weight: bold; color: rgb(34, 154, 218)"
        >🛒🍲 Shop Your Recipes</a
      >
    </div>
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav navbar-right">
        <li style="font-size: 17px" routerLinkActive="active">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li style="font-size: 17px" routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
        <!-- <li style="font-size: 17px" routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/auth">Authenticate</a>
        </li> -->
        <!-- <ul class="nav navbar-nav navbar-right">
          <li>
            <a style="cursor: pointer" (click)="onLogout()">Logout</a>
          </li>
        </ul> -->
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button" style="cursor: pointer"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer" (click)="onSaveData()">Save Data</a></li>
            <li><a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
