.container {
    height: 80%;
    width: 90%;
    padding: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /* background-image: url(https://media.istockphoto.com/id/1307964333/vector/kitchenware-vector-pattern.jpg?s=612x612&w=0&k=20&c=tyDNGwCSzJEzHRa_F0-6ANDfMJcUi2YkYCQXMPBxKQA=); */
   
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
}

.content {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 5%;
}

h1 {
    font-weight: 600;
}

button {
    margin-bottom: 20px;
}