.container {
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
}

img {
    border-radius: 5%;
}

h1 {
    font-weight: 600;
}

button {
    margin-bottom: 20px;
}