<div class="container list-group-item clearfix">
  <div class="row">
    <div class="col-xs-12">
      <img
        [src]="recipe.imagePath"
        alt="{{ recipe.name }}"
        class="img-responsive"
        style="max-height: 80px, max-width: 180px"
      />
    </div>
  </div>
    <div class="content">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ recipe.name }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">
              Manage Recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li class="dropdown border"><a (click)="onAddToShoppingList()" style="cursor: pointer">To Shopping List</a></li>
              <li class="dropdown border"><a href="#">Edit Recipe</a></li>
              <li class="dropdown"><a href="#">Delete Recipe</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
    <div class="row">
      <div class="col-xs-12" style="margin-bottom: 20px; font-size: 16px">
        {{ recipe.description }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="font-size: 16px; font-weight: bold">
        <h4>Ingredients:</h4>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients"
          >
            {{ ingredient.name }} ( {{ ingredient.amount }} )
          </li>
        </ul>
      </div>
    </div>
</div>
