<div class="shopping-container">
  <div class="row">
    <div class="col-xs-8">
      <app-shopping-edit></app-shopping-edit>
      <hr />
      <app-keep-awake></app-keep-awake>
      <hr />
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of ingredients; let i = index"
          (click)="onEditItem(i)"
        >
          <div class="ingredient-info">
            <div class="image-container">
              <img
                [src]="ingredient.ingredientsImg"
                alt="{{ ingredient.name }}"
                class="ingredients-img"
              />
            </div>
            <p>
              <strong style="font-weight: 450;">{{ ingredient.name }}</strong> | 
              {{ ingredient.amount }} {{ ingredient.amount > 1 ? 'pieces' : 'piece' }}
            </p>
          </div>
          <div class="icons">
            <mat-icon (click)="onEditItem(i)" style="color: rgb(34, 154, 218)">draw</mat-icon>
            <mat-icon (click)="onDeleteItem(i)" style="color: rgb(218, 34, 59); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 50%;">delete_forever</mat-icon>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <app-shopping-notes></app-shopping-notes>
    </div>
  </div>
</div>
