<div class="shopping-container">
  <div class="row">
    <div class="col-xs-10">
      <app-shopping-edit></app-shopping-edit>
      <hr />
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let ingredient of ingredients; let i = index"
          (click)="onEditItem(i)"
        >
          <div class="ingredient-info">
            <div class="image-container">
              <img
                [src]="ingredient.ingredientsImg"
                alt="{{ ingredient.name }}"
                class="ingredients-img"
              />
            </div>
            <p>{{ ingredient.name }} ({{ ingredient.amount }})</p>
          </div>
          <div class="icons">
            <mat-icon>draw</mat-icon>
            <mat-icon>delete</mat-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
