.shopping-container {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.row {
    width: 50%;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.col-xs-10 {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

hr {
    width: 70%;
    margin-left: 0;
}

a {
    margin-bottom: 6px;
    width: 70%;
    font-weight: bold;
}

img {
    height: 35px;
    width: 35px;
}