<div class="container">
    <h3 class="mt-4">The only Angular course that works!</h3>
    <hr>
    <app-component-name></app-component-name>
    <!-- *ngFor assignment  -->
    <!-- <button type="button" class="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
    <button type="button" class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
    <p *ngIf="showSecret">Secret Password = Tuna</p>
    <div *ngFor="let logItem of log">{{ logItem }}</div>
  </div>

  