<div class="shopping-notes">
    <p style="font-weight: 500;">Notes:</p>
    <mat-form-field class="note-input" appearance="fill">
      <mat-label style="font-size: 14px;">Add a note</mat-label>
      <input matInput [(ngModel)]="newNote">
    </mat-form-field>
    <button mat-raised-button color="primary" style="font-weight: 100;" (click)="addNote()">Add Note</button>
  
    <ul class="list-group mt-3">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let note of notes; let i = index">
        {{ note }}
        <mat-icon (click)="deleteNote(i)" style="color: rgb(218, 34, 59); cursor: pointer;">delete</mat-icon>
      </li>
    </ul>
  </div>
  