img {
    border-radius: 10%;
}

.list-group-item {
    min-height: 100px;
    padding: 20px;
}

.pull-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

p {
    display: flex;
    flex-wrap: wrap;
}

h5 {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 5px;
}

p {
    font-size: 16px;
}

.active-link {
    background-color: rgb(244, 244, 244);
    box-shadow: -0.2em 0 .4em rgb(34, 154, 218);
  }
  