<div class="row" style="width: 100%; display: flex; align-items: center; flex-direction: column;">
  <div class="col-xs-8">
    <ng-container *ngIf="hasRecipes(); else noRecipesFound">
      <app-recipe-item
        *ngFor="let recipeEl of filteredRecipes(); let i = index"
        [recipe]="recipeEl"
        [index]="i">
      </app-recipe-item>
    </ng-container>

<ng-template #noRecipesFound>
  <div class="no-recipes">
    <p>No recipes found. Please try a different search term.</p>
  </div>
</ng-template>

    <button
      mat-raised-button
      class="btn btn-primary"
      type="button"
      style="background-color: rgb(34, 154, 218); border-color: rgb(34, 154, 218); color: white; font-weight: 400; margin-top: 20px;"
      (click)="onNewRecipe()"
    >
      New Recipe
    </button>
  </div>
</div>
