.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.col-xs-8 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.full-width {
  width: 60%;
}

button {
  background-color: rgb(34, 154, 218);
  font-size: 15px;
  border-color: rgb(34, 154, 218);
}
