<div class="recipes-container">
  <app-warning-banner></app-warning-banner>

  <!-- Search Box -->
  <div class="row" style="height: auto; width: 100%; display: flex; justify-content: center">
    <div class="col-xs-8">
      <div class="search-box">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Search Recipes</mat-label>
          <input
            matInput
            (input)="onSearch($event.target.value)"
            placeholder="Type to search"
          />
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Recipe List -->
  <div class="main-content" *ngIf="!isRouterActive()">
    <app-recipe-list></app-recipe-list>
  </div>

  <div class="split-content" *ngIf="isRouterActive()">
    <div class="left-pane">
      <app-recipe-list></app-recipe-list>
    </div>
    <div class="right-pane">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
