<div class="container">
  <!-- Centered Recipe List when Router is Inactive -->
  <div
    class="row justify-content-center align-items-center"
    *ngIf="!isRouterActive"
    style="height: 100vh;"
  >
      <app-recipe-list></app-recipe-list>
  </div>

  <!-- Original Layout when Router is Active -->
  <div class="row" *ngIf="isRouterActive">
    <div class="col-md-5">
      <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
